include ../_mixins/_all

block vars
  -title        = ''
  -description  = ''
  -keywords     = ''
  -og_title     = ''
  -url          = ''
  -pageID       = ''
  -path         = '.'

doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    //- link(rel='stylesheet' href='./assets/js/library/fontawesome/css/all.css')
    //- link(rel='stylesheet' href='./assets/js/library/fontawesome/fontawesome/fontawesome.css')

    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='./assets/js/library/aos/aos.css')
    if pageID == 'homepage'
      link(rel='stylesheet' href='./assets/js/library/swiper/swiper-bundle.min.css')
    if pageID == 'about'
      //- link(rel='stylesheet' href='./assets/js/library/fancybox/fancybox.css')
    link(rel='stylesheet' href='./assets/css/common.css')
    if pageID == 'homepage'
      link(rel='stylesheet' href='./assets/css/home.css')
    if pageID == 'about'
      //- link(rel='stylesheet' href='./assets/css/about.css')
    if pageID == 'signpage'
      link(rel='stylesheet' href='./assets/css/sign.css')
    link(rel='icon' type='image/png' href='./assets/images/mona.png')
    title Template

  body(class=pageID)
    //- include ../_modules/header-mobile
    //- include ../_modules/header
    main.main
      block container
    //- include ../_modules/footer
    script(src='./assets/js/library/jquery/jquery.js')
    script(src='./assets/js/library/aos/aos.js')
    if pageID == 'homepage'
      script(src='./assets/js/library/swiper/swiper-bundle.min.js')
    if pageID == 'about'
      //- script(src='./assets/js/library/fancybox/fancybox.umd.js')
    script(src='./assets/js/main.js' type='module')
    block scripts
