.overlay {
  inset: 0;
  opacity: 0;
  width: 100%;
  height: 100vh;
  z-index: 101;
  position: fixed;
  visibility: hidden;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.5);
  @include transition;
  &.is-active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

header {
  // border: 1px solid $color-second;
  // background: $color-pri;
  background: rgba(27, 36, 78, 1);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  height: $header;
  display: flex;
  align-items: center;
  @include transition;
  position: fixed;
  // top: 0;
  width: 100%;
  left: 0;
  z-index: 100;
  &.is-active {
    transform: translateX(30rem);
  }
  &.is-hidden {
    transform: translateY(-100%);
  }
}
.header-wrap {
  display: flex;
  // justify-content: space-between;
  // max-width: 99.5rem;
  // margin: 0 auto;
  height: 100%;
}
.header-main {
  display: flex;
  align-items: center;
  column-gap: 5rem;
  justify-content: space-between;
  width: 100%;
  @include max(991.98px) {
    column-gap: 2rem;
  }
}
.menu-list {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.hide-sitename {
  visibility: visible;
  opacity: 0;
  width: 0;
  height: 0;
}
.header-logo {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 5.5rem;
  }
}
.menu-item {
  color: #fff;
  @include fz-16;
  font-weight: 500;
  letter-spacing: -0.0148rem;
  // padding: 0 2.1rem;
  @include transition;
  position: relative;
  &.current-menu-item {
    color: rgb(231, 176, 168);
    &::before {
      width: 100%;
      background: rgb(231, 176, 168);
    }
  }
  &::before {
    position: absolute;
    content: "";
    width: 0;
    background: transparent;
    height: 0.2rem;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    @include transition;
  }
  &:hover {
    color: $color-second;
    &::before {
      width: 100%;
      background: $color-second;
    }
  }
  @include max(991.98px) {
    // padding: 0 1rem;
  }
}
.header-action {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  .menu-item {
    padding: 0;
    display: inline-block;
  }
}
.header-cart {
  margin-right: 2.3rem;
  &_number {
    background: #90ab2a;
    position: absolute;
    top: -0.5rem;
    right: -2.3rem;
    border-radius: 50%;
    @include box(2.3rem);
    display: flex;
    align-items: center;
    @include fz-14;
    justify-content: center;
    color: #fff;
    font-weight: 600;
  }
  @include max(767.98px) {
    display: flex;
    align-items: center;
    margin-right: 0;
    column-gap: 4.3rem;
  }
}
.header-sign,
.header-nav {
  @include max(1199.98px) {
    display: none;
  }
}
.header-sign {
  @include min(1200px) {
    .menu-item {
      &::before {
        bottom: -0.2rem;
      }
    }
  }
}
.menu-bar {
  height: 100%;
  width: 2.8rem;
  display: block;
  cursor: pointer;
  padding: 0 1.5rem;
  user-select: none;
  position: relative;
  margin-left: 1.5rem;
  @include min(1200px) {
    display: none;
  }
}
.menu-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  display: block;
  height: 0.22rem;
  transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
  width: 2.8rem;
  &::before {
    top: -0.7rem;
  }
  &::after {
    top: 0.7rem;
  }
  &::before,
  &::after {
    background: #fff;
    content: "";
    display: block;
    height: 0.22rem;
    position: absolute;
    transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
    width: 2.8rem;
  }
}

// header mobile
.header-mobile {
  @include min(1200px) {
    display: none;
  }
  display: flex;
  flex-direction: column;
  // padding-top: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30rem;
  height: 100vh;
  z-index: 102;
  background-color: #fff;
  transform: translateX(-100%);
  pointer-events: none;
  @include transition;
  &.is-active {
    transform: translateX(0);
    pointer-events: auto;
  }
  .header-wrap {
    width: 100%;
    flex-direction: column;
    margin-top: 1rem;
    height: 100%;
    overflow: hidden auto;
  }
  .header-main {
    width: 100%;
  }
  .header-sign {
    display: flex;
  }
  .header-nav {
    display: block;
    width: 100%;
  }
  .menu-list {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu-item {
    width: 100%;
    padding: 1rem 2rem;
    border-bottom: 1px solid #01010a29;
    a {
      display: block;
      width: fit-content;
    }
    &::before {
      content: unset;
    }
  }
  .header-main {
    flex-direction: column;
    column-gap: 0;
    justify-content: space-between;
  }
  .header-sign {
    margin-bottom: 3rem;
    margin-top: 7rem;
    width: 100%;
    padding: 0 2rem;
    column-gap: 1rem;
    .btn {
      width: calc(50% - 0.5 * 1rem);
      padding: 0.5rem 1rem;
    }
  }
  .header-account {
    display: block;
    margin-left: 0;
    padding-right: 0;
    width: 100%;
    margin-top: 2rem;
    .child {
      padding: 0;
      flex-direction: row;
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid #01010a29;
      .menu-item {
        text-align: left;
        padding: 1rem 2rem;
        font-style: normal;
        width: 50%;
        font-size: 1.3rem;
        border: 0;
        &:last-child {
          // border-bottom: 1px solid #f7f7d2;
          // padding-bottom: 1rem;
          padding: 1rem 2rem;
        }
        &:nth-child(2) {
          // border-color: $color-pri;
        }
      }
    }
    .avatar {
      // margin-left: 2rem;
      // margin-bottom: 3rem;
    }
    &.dropdown {
      &::after {
        content: unset;
      }
    }
  }

  .dropdown {
    &::after {
      // content: unset;
      top: 2.2rem;
      right: 2rem;
    }
  }
  .child {
    position: relative;
    box-shadow: none;
    top: unset;
    right: unset;
    left: unset;
    transform: unset;
    display: block;
    opacity: 1;
    background: transparent;
    border: none;
    padding: 1rem 0 0 1.5rem;
    &::before {
      content: unset;
    }
    .menu-item {
      @include fz-16;
      font-weight: 500;
      text-align: left;
      font-style: italic;
      padding: 1rem 0;
      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
      &.current-menu-item {
        color: $color-second;
      }
    }
  }
}
.header-close {
  width: fit-content;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 1rem;
  z-index: 10;
  img {
    width: 2rem;
  }
}
.header-info {
  background: #90ab2a;
  padding: 2rem;
}
.header-desc {
  display: block;
  color: #fff;
  @include fz-14;
  font-weight: 600;
}

// ============ header account ========
.dropdown {
  position: relative;
  padding-right: 2rem;
  &::after {
    position: absolute;
    content: "";
    @include box(1.4rem, 0.6rem);
    @include bgImage(center, contain);
    background-image: url("../images/common/ico_arrow_1.svg");
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @include transition;
  }
  @include min(992px) {
    &:hover {
      &::after {
        transform: translateY(-50%) rotate(-180deg);
      }
      .child {
        display: flex;
        opacity: 1;
      }
    }
  }
  &.is-active {
    &::after {
      transform: translateY(-50%) rotate(-180deg);
    }
  }
}
.header-account {
  margin-left: 6rem;
  padding-right: 2.5rem;
  cursor: pointer;

  &:hover {
    .avatar {
      img {
        transform: scale(1.1);
      }
    }
  }
  .avatar {
    @include box(3.8rem);
  }
  .child {
    padding: 0.2rem 2.4rem;
    min-width: 14.4rem;
    right: 0;
    left: unset;
    transform: unset;
    &::before {
      width: 100%;
      left: 0;
    }
    .menu-item {
      &:nth-child(2) {
        // border-bottom: 1px solid #c5c5c5;
      }
    }
  }
  @include max(1500.98px) {
    margin-left: 3rem;
  }
  @include max(1199.98px) {
    margin-left: 2rem;
  }
  @include max(991.98px) {
    margin-left: 1rem;
  }
  @include max(767.98px) {
    display: none;
  }
}

.child {
  position: absolute;
  top: calc(100% + 1rem);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-width: 20.4rem;
  padding: 1rem;
  // border: 1px solid $color-second;
  box-shadow: -1px 3px 19px -1px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: -1px 3px 19px -1px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: -1px 3px 19px -1px rgba(0, 0, 0, 0.22);
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  display: none;
  &::before {
    position: absolute;
    background-color: transparent;
    content: "";
    top: -2rem;
    width: 85%;
    height: 3rem;
    left: 0;
    z-index: 5;
  }
  .menu-item {
    color: $color-text;
    width: 100%;
    text-align: center;
    @include fz-15;
    font-weight: 400;
    padding: 0.4rem 0;
    &::before {
      content: unset;
    }
    &.current-menu-item {
      font-weight: 600;
    }
    &:hover {
      color: $color-second;
    }
  }
}
.header-cart {
  cursor: pointer;
}
.avatar {
  @include box(9rem);
  border: 1px solid #90ab2a;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background: #d9d9d9;
  transition-delay: 0.3s;
  img {
    @include box(100%);
    object-fit: cover;
    @include transition;
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}
.avatar-wrap {
  .name {
    display: none;
  }
  @include max(767.98px) {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 1rem 2rem;
    padding-right: 4.5rem;
    .name {
      overflow: hidden;
      flex: 1;
      @include max(767.98px) {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
  }
}
.hotline-top {
  a {
    display: flex;
    padding: 7px 10px;
    border-radius: 8px;
    background: #ed1c24;
    border: solid 1px #ed1c24;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    width: 180px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    @include transition;
    &:hover {
      background: #fff;
      color: #ed1c24;
      .icon {
        svg {
          path {
            stroke: #ed1c24;
          }
        }
      }
    }
  }
  .icon {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
