footer.footer
  .footer-main
    .container
      .footer-wrap
        .footer-box
          a.header-logo(href="/" target="_self")
            +img("common/logo_white.svg")
          ul.footer-list
            li.footer-item
              +img("common/ico_map.svg")
              +blank("123 - 456 P.Bằng Liệt, Hoàng Liệt, Hoàng Mai, Hà Nội, Việt Nam")
            li.footer-item
              +img("common/ico_call.svg")
              +blank("0912.34.56.78", '', 'tel:+84912345678')
              span &#160;-&#160;
              +blank("0912.34.56.78", '', 'tel:+84912345678')
            li.footer-item
              +img("common/ico_email.svg")
              +blank("cskh@yenchina.com", '', "mailto:cskh@yenchina.com")
          .support
            span tổng đài cSKH
            +blank("1900 1234", 'support-phone', 'tel:19001234')
          ul.social
            li.social-item
              a(href="#" target="_blank")
                +img("common/facebook.png")
            li.social-item
              a(href="#" target="_blank")
                +img("common/zalo.png")
            li.social-item
              a(href="#" target="_blank")
                +img("common/youtube.png")
        .footer-box
          p.footer-title Liên hệ với chúng tôi
          .footer-group
            span.footer-text Khu vực Hà Nội
             ul.footer-list
              li.footer-item
                +img("common/ico_map.svg")
                +blank("123 - 456 P.Bằng Liệt, Hoàng Liệt, Hoàng Mai, Hà Nội, Việt Nam")
              li.footer-item
                +img("common/ico_call.svg")
                +blank("0912.34.56.78", '', 'tel:+84912345678')
                span &#160;-&#160;
                +blank("0912.34.56.78", '', 'tel:+84912345678')
          .footer-group
            span.footer-text Khu vực TP.HCM
             ul.footer-list
              li.footer-item
                +img("common/ico_map.svg")
                +blank("123 - 456 P.Bằng Liệt, Hoàng Liệt, Hoàng Mai, Hà Nội, Việt Nam")
              li.footer-item
                +img("common/ico_call.svg")
                +blank("0912.34.56.78", '', 'tel:+84912345678')
                span &#160;-&#160;
                +blank("0912.34.56.78", '', 'tel:+84912345678')
          .footer-group
            span.footer-text Khu vực Trung Quốc
             ul.footer-list
              li.footer-item
                +img("common/ico_map.svg")
                +blank("123 - 456 P.Bằng Liệt, Hoàng Liệt, Hoàng Mai, Hà Nội, Việt Nam")
              li.footer-item
                +img("common/ico_call.svg")
                +blank("0912.34.56.78", '', 'tel:+84912345678')
                span &#160;-&#160;
                +blank("0912.34.56.78", '', 'tel:+84912345678')
        .footer-box
          .footer-group
            p.footer-title Về chúng tôi
            ul.menu
              li.menu-item
                a.menu-link(href="#" target="_self") Giới thiệu
              li.menu-item
                a.menu-link(href="#" target="_self") Hướng dẫn
              li.menu-item
                a.menu-link(href="#" target="_self") Tin tức
          .footer-group
            p.footer-title Chính sách
            ul.menu
              li.menu-item
                a.menu-link(href="#" target="_self") Chính sách vận chuyển
              li.menu-item
                a.menu-link(href="#" target="_self") Chính sách nhập hàng
              li.menu-item
                a.menu-link(href="#" target="_self") Chính sách khiếu nại
              li.menu-item
                a.menu-link(href="#" target="_self") Chính Sách Bảo Mật
              li.menu-item
                a.menu-link(href="#" target="_self") Điều khoản sử dụng
        .footer-box
          .footer-group
            p.footer-title Cài đặt công cụ đặt hàng
            ul.install
              li.install-item
                a.install-link(href="#" target="_blank")
                  +img("common/chrome.png")
                  span CHROME
              li.install-item
                a.install-link(href="#" target="_blank")
                  +img("common/coccoc.png")
                  span CỐC CỐC
          .footer-group
            p.footer-title Tải ứng dụng đặt hàng
            ul.app
              li.app-item
                a.app-link(href="#" target="_blank")
                  +img("common/google_play.png")
              li.app-item
                a.app-link(href="#" target="_blank")
                  +img("common/app_store.png")
          .facebook
            iframe(src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhangquangchau24h%2F&show-posts=true&width=340&height=500&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId' width='340' height='500' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowfullscreen='true' allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share')
  .copyright
    span Thiết kế bởi
    a(href="#" target="_blank")
      +img("common/mona.svg")
